body {
    margin: 0px;
}

#game_grid {
    border: 2px tomato solid;
    width: 600px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.card {
    width: 33.3%;
    position: relative;
    transition: transform 1s;
    perspective: 1000px;
    transform-style: preserve-3d;
}


img {
    width: 100%
}

.front_face,
.back_face {
    position: absolute;
    backface-visibility: hidden;
}


.flip {
    transform: rotateY(180deg);
}


.front_face {
    transform: rotateY(180deg);
}

#clickCounter {
    text-align: center;
    font-size: 30px;
    color: tomato;
}

#timerHeader {
    text-align: center;
    font-size: 30px;
    color: tomato;
}

#startButton {
    display: block;
    margin: auto;
}

#resetButton {
    display: block;
    margin: auto;
}

p {
    text-align: center;
}